/* common styles or utilities */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
}

/* ......first Slide......  */


.first-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
}
.first-slide-half{
    width: 25%;
    padding: 5%;
}
.first-slide-caption{
    width: 485px;
    height: 230px;
    font-family: 'Courier New', Courier, monospace;

}
.caption-name{
    font-size: 64px;
    line-height: 80px;
    color: white;

}
.link-button{
    color: white;
    text-decoration: none;
    background-image:linear-gradient(to bottom, #cfab09 0%, #11d88c 100%);
    padding: 10px;
    border-radius: 20px;

}
.live-link{
    width: 168px;
    height: 44px;
}
.live-link:hover{
    transform: scale(1.1);
    translate: transform 1s ease-in;
    
}
.first-slide-other-half{
    padding-left: 20px;
}


/*------------
        Middle part Players 
            ---------------------*/

.second-container{
    margin-top: 50px;
    display: grid;
    justify-content: center;
}

    

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
  
}

.player img{
    width: 315px;
    padding: 7px;
}
.player{
    width: 330px;
    height: 474px;
    margin-top: 10px;
    box-shadow:1px 1px 10px black;
}
.player-name{
    font-size: 1.2em;
    font-family: cursive;
    padding-left: 10px;
}
.player-info{
    text-align: justify;
    font-family: serif;
    padding-left: 10px;
    padding-right: 10px;
}
/* -------------
          optional part style 
                   ----------------  */
.highlights{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article{
    margin: 70px;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 2px 3px 18px rgb(0, 0, 0);
    width: 25%;
} 
.article-title{
    text-align: justify;
    color: black;
    text-shadow: 3px 5px 12px rgb(241, 122, 241);
}
.article-details{
    color: #6C6C6C;
}
.article-img{
    width: 29%;
}
.article-img img{
    width: 467px;
    height: 327px;
    border-radius: 20px;
}

/*---------
        last slide's styles 
                 ---------------*/

.conclusion img {
    width: 200px;
}
.conclusion{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    

} 
 .social-buttons{ 
    width: 100%;
    text-align: center;
}
.inner-link{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: rgb(231, 216, 216);
    margin: 10px;
    border-radius: 25px;
    box-shadow: 2px 5px 12px -5px black;
    color: rgb(46, 170, 219);
    position: relative;
    overflow: hidden;
} 
.inner-link i{
    line-height: 80px;
    font-size: 30px;
    transition: 0.2 linear;
}  
.inner-link:hover i{
    transform: scale(1.4);
} 
.rights-container{
    padding-top: 50px;
    text-align: center;
} 

/* media queries */

/* mobile devices */

@media only screen and (max-width:688px) {
  .first-slide, .players{
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
  }
  .second-container{
      flex-direction: column;
      
  }
  .highlights{
      display: none;
  }
  .highlights{
    display: none;
  }
}